<table class="table-bordered table-hover">
  <thead>
    <th>Header</th>
  </thead>
  <tbody>
    <tr class="text-center">
      <td rowspan="2">{{ headers.diameter }}</td>
      <td colspan="3">{{ qualityOptions.best }} </td>	
      <td colspan="3">{{ qualityOptions.high }}</td>	
      <td colspan="3">{{ qualityOptions.medium }}</td>	
      <td colspan="3">{{ qualityOptions.low }}</td>	
    </tr>    
    <tr>
      <td>{{ headers.size }}</td>
      <td>{{ headers.price }}</td>
      <td>{{ headers.cost }}</td>
      <td>{{ headers.size }}</td>
      <td>{{ headers.price }}</td>
      <td>{{ headers.cost }}</td>
      <td>{{ headers.size }}</td>
      <td>{{ headers.price }}</td>
      <td>{{ headers.cost }}</td>
      <td>{{ headers.size }}</td>
      <td>{{ headers.price }}</td>
      <td>{{ headers.cost }}</td>
    </tr>
    <tr>
      <td>{{ lengthOptions.small }}</td>
    </tr>
    <tr>
      <td>{{ lengthOptions.medium }}</td>
    </tr>
    <tr>
      <td>{{ lengthOptions.big }}</td>
    </tr>
    <tr>
      <td>{{ lengthOptions.huge }}</td>
    </tr>
  </tbody>
</table>